<!DOCTYPE html>
<html>
<head>
    <title>ICal</title>
</head>
<body bgcolor="#181a1b" text="#e8e6e3">
    <form method="POST" action="/incognito" enctype="multipart/form-data">
        <label for="sched1">Schedule 1:</label><br><br>
        <input type="file" id="sched1" name="sched1" accept=".ics"><br><br>
        <label for="sched2">Schedule 2:</label><br><br> 
        <input type="file" id="sched2" name="sched2" accept=".ics"><br><br><br><br>
        <input type="submit" value="Submit">
    </form>
    <form action="/"><input type="submit" value="Go back."></form>
</body>
</html>