<!DOCTYPE html>
<html>
<head>
    <title>ICal</title>
</head>
<body bgcolor="#181a1b" text="#e8e6e3">
    <form method="POST" action="/result" enctype="multipart/form-data">
        <label for="sched1">User ID 1:</label>
        <input type="text" name="name1"><br>
        <label for="sched2">User ID 2:</label>
        <input type="text" name="name2"><br><br> 
        <input type="submit" value="Submit">
    </form>
    <form action="/incognito"><input type="submit" value="Incognito Mode"></form>
    <form action="/delete"><input type="submit" value="Delete Uploaded Schedule"></form>
</body>
</html>